@using Consolidated_App.Models;
@model StockConsolidationSearch;
@{
    ViewData["Title"] = "HEINEKEN - Stock Report";
}
<section class="content-header">
    <h5>
        @ViewData["Title"]
    </h5>
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index","Home")><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-cloud"></i> Report</a></li>
        <li class="active">Consolidated Stock Report</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("_Ribbon")
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("_stockConsolidateGrid")
                </div>
            </div>
        </div>
    </div>
</section>